html {
    margin: 0;
}


#root {
    height: 100vh;
    margin: 0;
    background-image: url('./wall2.jpg');
    background-size: cover;
}

.container {
    /* background-color: #f2f2f2; */
    width: 100%;
    /* background-image: url('./wall.jpg'); */
    background-size: cover;
    margin: 0;
}


.text-center {
    padding-top: 10%;
}

.contBotonera {
    width: 300px;
    margin: 50px auto 10px;
    border: 2px solid rgb(248, 247, 247);
    /* background-color: red; */
}

.tecla {
    width: 50px;
    height: 50px;
    border: 2px solid #ccc;

}